/* Folha de estilos GLOBAL
Será usada por elementos em todos os componentes
da aplicação React */

/* Ajuste do Box Model com box-sizing */
*,
*::after,
*::before {
  box-sizing: border-box;
}
/*Reset */
body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
}

body {
  font-family: "segoe UI" Arial;
}

/* bloco/box*/
.sombra {
  box-shadow: rgb(76, 0, 255) 0 0 10px;
  background-color: white;
}

.destaque-texto {
  background-color: rgb(255, 0, 13);
  padding: 4px;
  border-radius: 4px;
}

.centralizar {
  text-align: center;
}
