/* Folha de estilos GLOBAL
   Será usada por elementos em todos os componentes
   da aplicação React */

/* Ajuste do Box Model com box-sizing */
*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Reset */
body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  background-color: #f4f4f4; /* Cor de fundo para o corpo */
  color: #333; /* Cor do texto padrão */
  line-height: 1.6;
}

/* Bloco/box */
.sombra {
  box-shadow: 0 0 10px rgba(76, 0, 255, 0.5); /* Adicionando uma sombra com transparência */
  background-color: #fff;
  padding: 20px; /* Ajustando o preenchimento */
  border-radius: 8px;
  margin: 20px 0; /* Adicionando margem para separar os elementos */
}

.destaque-texto {
  background-color: #ff0d0d;
  color: #fff; /* Cor do texto no destaque */
  padding: 8px;
  border-radius: 4px;
}

.centralizar {
  text-align: center;
}
